@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";



@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75.125rem;

  /* Colors */
    --color-black-heading: #1C2B38;
    --color-dark-80: #495560;
    --color-dark-60: #778088;
    --color-green: #7BBCB0;
    --color-red: #FF6969;
    --color-blue: #59A9FE;
    --color-purple: #D176E0;
    --color-yellow: #E4B613;

  /* Font Family */

  --font-mulish: 'Mulish', sans-serif;
  --font-volkhov: 'Volkhov', serif;
}

body {
  font-family: var(--font-mulish);
}